<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/logs.css">
    <title>All Logs</title>
</head>

<body>
    <div class="sidebar">
        <%- include('../components/sidebar.ejs')%>
    </div>

    <script>
        const results = JSON.parse('<%-speedtestResults%>');
    </script>

    <% const results = JSON.parse(speedtestResults); %>


    <div class="main">
        <div class="tabs">
            <button id="logs-tab">Logs</button>
            <button id="graph-tab">Graph</button>
        </div>
        <div id="logs" class="tabcontent">
            <% results.forEach(result =>{ %>
            <div class="log">
                <div class="log-timestamp">
                    <%- new Date(result.createdAt).toLocaleString('en', {month: "short", weekday: "long",day: "2-digit", year: "numeric", hour: "numeric", minute: "numeric"}) %>
                </div>
                <div class="log-download">Download: <%- result.downloadBandwidth %> </div>
                <div class="log-upload">Upload: <%- result.uploadBandwidth %> </div>
                <div class="log-latency"></div>
                <div class="log-jitter"></div>
                <div class="log-url"></div>
            </div>
        </div>
    </div>
    <% }) %>
    </div>
    <div id="graph" class="tabcontent">
        graph
    </div>
    </div>

    <script src="/js/logs.js"></script>

    <script>
        document.getElementById("logs-tab").click();
    </script>
</body>

</html>