<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/logs.css">
    <title>All Logs</title>
</head>

<body>
    <div class="sidebar">
        <%- include('../components/sidebar.ejs')%>
    </div>

    <script>
        const results = JSON.parse('<%-speedtestResults%>');
    </script>

    <% const results = JSON.parse(speedtestResults); %>


    <div class="main">
        <div id="sort-div">
            <label for="from-picker"> From:</label>
            <input type="date" id="from-picker">

            <label for="to-picker"> To:</label>
            <input type="date" id="to-picker">
        </div>
            <ul class="logs-ul">
                <center><h2>Total Logs: <%- results.length %> </h2></center>
                <% results.forEach(result => { %>
                <li>
                    <div class="log">
                        <div class="log-timestamp">
                            <%- new Date(result.createdAt).toLocaleString('en', {month: "short",day: "2-digit", year: "numeric", hour: "numeric", minute: "numeric"}) %>
                        </div>
                        <div class="log-isp">
                            ISP : <%- result.isp%>
                        </div>
                        <div class="log-download">Down↓: <%- result.downloadBandwidth.toFixed(2) %> Mbps</div>
                        <div class="log-upload">
                             Up↑:  <%- result.uploadBandwidth.toFixed(2) %> Mbps
                        </div>
                        <div class="log-latency">Latency: <%- result.latency %> ms</div>
                        <div class="log-jitter">Jitter: <%- result.jitter %></div>
                        <div class="log-url">
                            <a href="<%- result.resultURL %>">URL</a>
                        </div>
                    </div>
                </li>
                <%  }); %>
            </ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/logs.js"></script>
</body>

</html>
