<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/avg.css">
    <title>Home</title>

</head>

<body>

    <div class="sidebar">
        <%- include('../components/sidebar.ejs')%>
    </div>

    <main>
        <% let circumference=100 * 2 * Math.PI; %>
        
        <% let avgDownloadBandwidthDashOffset; %>
        <% if(avgDownloadBandwidth > 100){avgDownloadBandwidthDashOffset = 100;console.log(avgDownloadBandwidthDashOffset); } else{%>
        <% avgDownloadBandwidthDashOffset = avgDownloadBandwidth} %>

        <% let avgUploadBandwidthDashOffset; %>
        <% if(avgUploadBandwidth > 100) { avgUploadBandwidthDashOffset = 100} else{%>
        <% avgUploadBandwidthDashOffset = avgUploadBandwidth;}%>

        <% let avgLatencyDashOffset; %>
        <% if(avgLatency > 100) { avgLatencyDashOffset = 100} else{%>
        <% avgLatencyDashOffset = avgLatency;}%>

        <% let avgJitterDashOffset; %>
        <% if(avgJitter > 100) { avgJitterDashOffset = 100} else{%>
        <% avgJitterDashOffset = avgJitter;}%>


        <div class="avgContainer">

            <center>
                <h2>Average</h2>
            </center>

            <div class="avgCardContainer">
                <div class="card card-download">
                    <p>Download - Mbps</p>
                    <svg class="circular-progress-bar">
                        <circle class="track" r="40%" cx="50%" cy="50%" style="stroke-dasharray:<%-parseInt(circumference)%>px;
                    stroke-dashoffset:<%-parseInt(circumference - ( 100 / 125) * circumference) %>px
                    " />
                        <circle class="progress" r="40%" cx="50%" cy="50%" style="stroke:#1fa8e7; stroke-dasharray:<%-parseInt(circumference)%>px;
                                    stroke-dashoffset:<%-parseInt(circumference - ( avgDownloadBandwidthDashOffset / 125) * circumference) %>px" />
                        <text x="50%" y="150" alignment-baseline="middle" text-anchor="middle" style="fill: white;"><%-avgDownloadBandwidth%></text>
                    </svg>
                </div>

                <div class="card card-upload">
                    <p>Upload - Mbps</p>
                    <svg class="circular-progress-bar">
                        <circle class="track" r="40%" cx="50%" cy="50%" style="stroke-dasharray:<%-parseInt(circumference)%>px;
                                    stroke-dashoffset:<%-parseInt(circumference - ( 100 / 125) * circumference) %>px
                                    " />
                        <circle class="progress" r="40%" cx="50%" cy="50%" style="stroke:#bd71ff; stroke-dasharray:<%-parseInt(circumference)%>px;
                                    stroke-dashoffset:<%-parseInt(circumference - ( avgUploadBandwidthDashOffset / 125) *
                                    circumference) %>px
                                    " />
                        <text x="50%" y="150" alignment-baseline="middle" text-anchor="middle" style="fill: white;"><%-avgUploadBandwidth%></text>
                    </svg>
                </div>

                <div class="card card-latency">
                    <p>Latency - ms</p>
                    <svg class="circular-progress-bar">
                        <circle class="track" r="40%" cx="50%" cy="50%" style="stroke-dasharray:<%-parseInt(circumference)%>px;
                                    stroke-dashoffset:<%-parseInt(circumference - ( 100 / 125) * circumference) %>px
                                    " />
                        <circle class="progress" r="40%" cx="50%" cy="50%" style="stroke:#f2485c; stroke-dasharray:<%-parseInt(circumference)%>px;
                                    stroke-dashoffset:<%-parseInt(circumference - ( avgLatencyDashOffset / 125) *
                                    circumference) %>px
                                    " />
                        <text x="50%" y="150" alignment-baseline="middle" text-anchor="middle" style="fill: white;"><%-avgLatency%></text>
                    </svg>
                </div>

                <div class="card card-jitter">
                    <p>Jitter</p>
                    <svg class="circular-progress-bar">
                        <circle class="track" r="40%" cx="50%" cy="50%" style="stroke-dasharray:<%-parseInt(circumference)%>px;
                                    stroke-dashoffset:<%-parseInt(circumference - ( 100 / 125) * circumference) %>px
                                    " />
                        <circle class="progress" r="40%" cx="50%" cy="50%" style="stroke:#e76f2e; stroke-dasharray:<%-parseInt(circumference)%>px;
                                    stroke-dashoffset: <%-parseInt(circumference - ( avgJitterDashOffset / 125) *
                                    circumference) %>px
                                    " />
                        <text x="50%" y="150" alignment-baseline="middle" text-anchor="middle" style="fill: white;"><%-avgJitter%></text>
                    </svg>
                </div>
            </div>
        </div>
    </main>
</body>

</html>